---
import { site } from '../data/site';
---

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value={site.paypalHostedButtonId} />
  <button type="submit" class="inline-flex items-center gap-2 rounded-lg bg-[#0070ba] px-5 py-2.5 text-sm font-semibold text-white transition hover:bg-[#005ea6]">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
      <path d="M7.076 21.337H2.47a.641.641 0 0 1-.633-.74L4.944 3.72a1.02 1.02 0 0 1 1.01-.858h6.892c2.485 0 4.226.574 5.177 1.707.903 1.072 1.217 2.556.934 4.409-.361 2.333-1.474 4.178-3.132 5.487-1.615 1.274-3.788 1.918-6.462 1.918H9.64l-.564 3.583z" />
    </svg>
    Donate with PayPal
  </button>
</form>
